---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">Sobre mi</a>
		<h1>Blog</h1>
  <h2>... ¡Con todas las publicaciones!</h2>

  <p>Esto es una página con todas las entradas del blog que iré publicando!</p>

  <p>Esto es dinamico papá así que no te olvides de volver!</p>
</body>
</html>